 .loginpage{
    margin-top: 80px;
}
/*
.logincontainer{
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
}

.loginimgdiv
{
    width: 40%;
    height: 100%;
    background-color: blue;
}

.logincreddiv{
    width: 60%;
    height: 100%;
    background-color: blueviolet;
} */